#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

body {
  background-color: black;
  color: black;
}

.listContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.tuneContainer {
  background-color: rgb(0,120,160);
  padding: 1em;
  padding-top: 0.5em;
  margin: 1em;
  border-radius: 2cap;
  color: rgb(0,220,220);
}

a {
  color: rgb(0,220,220);
}
a:hover {
  color: white;
}
a:active {
  color: rgb(0,220,220);
}

.author {
  margin: 0em;
}

.songTitle {
  margin: 0em;
}

#modifierForm {
  background-color: rgb(0,120,160);
  color: rgb(0,220,220);
  padding: 1em;
  min-width: 20em;
  border-radius: 2cap;
}

#modifierGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-flow: column;
  width: 100%;
}

#sortModifiers {
  display: grid;
  width: 80%;
}

#searchModifiers {
  width: 80%;
}

#tagModifiers {
  width: 80%;
}

.modifierInput {
  background-color: rgb(0,220,220);
  width: 90%;
  border-color: rgba(0,0,0,0);
  border-width: 0.1em;
  color: black;
}

#modifierSubmit {
  margin-top: 0.7em;
  width: 100%;
  height: fit-content;
  padding: 0.7em;
  align-self: center;
  border-radius: 2cap;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgb(0,220,220);
  color: black;
}
#modifierSubmit:hover {
  background-color: rgb(0,200,256);
}
#modifierSubmit:active {
  background-color: rgb(0,220,220);
}

#collectionsRowWrapper {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1;
  justify-content: center;
  padding: 0.5em;
  padding-top: 0em;
}

#collectionLinkContainer {
  display: flex;
  flex-direction: row;
  align-self: center;
}
.collectionLink {
  margin: 0.5em;
}

.topRowButton {
  height: fit-content;
  padding: 0.7em;
  border-radius: 1cap;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgb(0,220,220);
  color: black;
  margin: 0.5em;
  justify-self: end;
}
.topRowButton:hover {
  background-color: rgb(0,200,256);
}
.topRowButton:active {
  background-color: rgb(0,220,220);
}

.backdoorForm {
  background-color: rgb(0,120,160);
  /*color: rgb(0,220,220);*/
  color: white;
  padding: 1em;
  min-width: 20em;
  border-radius: 2cap;
  text-align: center;
}

.backdoorHeader {
  margin-top: 0px;
  padding-top: 0px;
}

.addItemButton {
  height: fit-content;
  padding: 0.3em;
  border-radius: 1cap;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgb(0,220,220);
  color: black;
  margin: 0.1em;
  margin-left: 0.5em;
  justify-self: end;
  font-size: small;
}

.inputArr {
  margin: 0.5em;
  padding: 0em;
}

.arrItemsList {
  list-style-type: none;
  display: flex;
  gap: 0.5em;
  margin: 0.5em;
}

.deleteItemButton {
  background-color: rgba(0,0,0,0);
  color: darkgrey;
  padding: 0em;
  margin: 0em;
  font-size: small;
}

.arrItem {
  color: black;
  background-color: white;
  border-radius: 1cap;
  width: fit-content;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  font-size: small;
}

.inputArrLabel {
  margin: 0em;
}

.submitButton {
  height: fit-content;
  padding: 0.3em;
  border-radius: 1cap;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgb(0,220,220);
  color: black;
  margin: 0.1em;
  margin-top: 1em;
  justify-self: end;
  font-size: small;
}

#popupButtonsContainer {
  display: flex;
  justify-content: center;
}