#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  background-color: black;
}

body {
  background-color: black;
}

.listContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.tuneContainer {
  background-color: aqua;
  padding: 1em;
  padding-top: 0.5em;
  margin: 1em;
  border-radius: 2cap;
}

.author {
  margin: 0em;
}

.songTitle {
  margin: 0em;
}
.sortModifiers {
  display: grid;
  width: fit-content;
  padding: 0.5em;
}

.searchModifiers {
  width: fit-content;
  padding: 0.5em;
}

.modifierForm {
  background-color: white;
  color: black;
}

.modifiers {
  display: grid;
  grid-template-columns: 3;
  grid-auto-flow: column;
}

.modifierSubmit {
  width: 100%;
  height: fit-content;
  padding: 0.7em;
  align-self: center;
}